*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #0F87FF;
}
.game{
    width: 500px;
    height: 200px;
    border: 5px solid rgb(255, 255, 255);
    margin: auto;
    background-image: url('/sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#character{
    width: 50px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
    margin-left: 2px;
    overflow-y: hidden;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}
.para{
    color: white;
    margin-top: 20px;
    font-family: monospace;
}
.container{
    margin-top: 30px
}
.robo{
    color: white;
}
.list{
    color:white;
    font-family: monospace;
    margin-left: 50px;
    margin-top: 20px;
}